:root {
  /* font */
  --font-main: 'PPFragment-SansLight';

  /* value */
  --gnb-height: 52px;
  --padding-main: 20px;
  --border-width: 1px;
  --blur-value: 7px;

  /* z-index */
  --gnb-level: 10;
  --gnb-nav-sidebar-level: 20;

  /* color */
  --background: #f6f6f6;
  --black: #222;
  --background-global-header: #f6f6f6bb;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* stylelint-disable */
  font-family: var(--font-main), -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  /* stylelint-enable */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  /* stylelint-disable */
  font-family: var(--font-main), -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  /* stylelint-enable */
}

body {
  color: var(--black);
  background-color: var(--background);
}

/* Reset */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button {
  padding: 0;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

/* GNB */
.gnb {
  position: fixed;
  z-index: var(--gnb-level);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--gnb-height);
  background-color: var(--background-global-header);
  border-bottom: var(--border-width) solid var(--black);
  -webkit-backdrop-filter: blur(var(--blur-value));
  backdrop-filter: blur(var(--blur-value));
}

.gnb-left,
.gnb-right {
  height: 100%;
}

.gnb-logo {
  height: 100%;
}

.gnb-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 var(--padding-main);
  font-size: 24px;
}

.gnb-nav-menu-button,
.gnb-nav-close-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-main);
  font-size: 16px;
}

.gnb-nav-menu-button {
  height: 100%;
}

.gnb-nav-close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.gnb-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--gnb-nav-sidebar-level);
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  box-shadow: rgb(0 0 0 / 0.1) 0 4px 12px;
  transition: all 300ms ease-in-out;
  transform: translate3d(0, 0, 0);
}

.gnb-nav.is-hidden {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.gnb-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gnb-nav-item {
  margin-bottom: 10px;
}

.gnb-nav-item:last-child {
  margin-bottom: 0;
}

.gnb-nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 28px;
}

/* >= 768px (tablet) */
@media screen and (min-width: 768px) {
  :root {
    /* value */
    --blur-value: 15px;
  }

  /* GNB */
  .gnb-nav-menu-button,
  .gnb-nav-close-button {
    display: none;
  }

  .gnb-nav,
  .gnb-nav.is-hidden {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  .gnb-nav {
    position: static;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
  }

  .gnb-nav-list {
    flex-direction: row;
  }

  .gnb-nav-item {
    height: 100%;
    margin-bottom: 0;
    border-left: var(--border-width) solid var(--black);
  }

  .gnb-nav-item a {
    height: 100%;
    transition: transform 100ms ease-in-out;
  }

  .gnb-nav-item a:hover {
    transform: translate3d(1px, -1px, 0);
  }
}

/* >= 1200px (desktop) */
@media screen and (min-width: 1200px) {
  :root {
    /* value */
    --gnb-height: 56px;
    --padding-main: 30px;
    --blur-value: 20px;
  }

  /* GNB */
  .gnb-logo a {
    font-size: 28px;
  }

  .gnb-nav-item a {
    padding: 0 28px;
    font-size: 30px;
  }
}
